@import '~@/components/style/index.less';
.notice {
  max-width: 244px;
  box-sizing: border-box;
  padding: 12px 20px;
  color: #fff;
  font-weight: 500;
  font-size: 12px;
  line-height: 20px;
  background-color: #c5c5c5;
  border-radius: 8px;
}
