@import '~@/components/style/index.less';

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}

.main {
  flex: 1;
  overflow: hidden;
}

.container {
  padding-bottom: 168px;
}

.article {
  padding: 24px 16px;
}

.title {
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
}

.details {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 12px;
  font-size: 13px;
  .label {
    color: #b3b3b3;
    + .value {
      margin-left: 6px;
    }
  }
  .value {
    color: #666;
    + .label {
      margin-left: 16px;
    }
  }
}

.content {
  display: block;
  margin-top: 24px;
  font-weight: 300;
  font-size: 18px;
  line-height: 32px;
  word-wrap: break-word;
  word-break: break-all;

  :global {
    .node-p,
    .node-img {
      + .node-p,
      + .node-img {
        margin-top: 24px;
      }
    }

    .node-img {
      max-width: 100%;
    }
  }
}

.reward {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 98px;
  height: 32px;
  margin-top: 24px;
  color: #fff;
  font-size: 13px;
  background: @linear-gradient-warning;
  border-radius: 16px;
  box-shadow: 0 6px 20px 0 rgba(255, 145, 71, 0.4);
  opacity: 0.9;
  &::before {
    display: block;
    width: 14px;
    height: 15px;
    margin-right: 6px;
    background: url('./images/icon-flower.svg') center no-repeat;
    background-size: contain;
    content: '';
  }
}

.loader {
  padding: 24px 16px;

  --skeleton-padding: 0;

  :global {
    .doctorcard {
      display: block;

      .van-skeleton__avatar {
        width: 40px !important;
        height: 40px !important;

        --padding-md: 12px;
        + .van-skeleton__content {
          --padding-xs: 0;
        }
      }
    }
  }

  .title {
    --skeleton-row-height: 20px;
  }

  .details {
    display: block;
    margin-top: 24px;
  }

  .content {
    --skeleton-row-height: 18px;
    --skeleton-row-margin-top: 16px;

    :global {
      .van-skeleton__row:last-child {
        --skeleton-row-height: 120px;
      }
    }
  }
}
