@import '~@/components/style/index.less';

page {
  background-color: #f5f5f5;
}

.wrapper {
  padding: 0 16px 24px;
}

.banner {
  height: 200px;
  background: center no-repeat;
  background-size: cover;
}

.main {
  margin-top: -16px;
  padding: 0 20px 24px;
  background-color: #fff;
  border-radius: 8px;
}

.doctor {
  display: flex;
  align-items: center;
  margin-bottom: 24px;
  padding: 24px 0;
  border-bottom: 1px solid #ebebeb;

  --skeleton-padding: 0;
  --skeleton-row-height: 13px;

  :global {
    .van-skeleton__title + .van-skeleton__row {
      margin-top: 9px;
    }
  }

  .content {
    color: #666;
    font-size: 13px;
  }

  .brief {
    margin-top: 2px;
    color: #b3b3b3;
    font-size: 11px;
  }

  .content,
  .brief {
    text + text {
      margin-left: 8px;
    }
  }
}

.avatar {
  width: 44px;
  height: 44px;
  margin-right: 12px;
  background: @skeleton-color center no-repeat;
  background-size: cover;
  border-radius: 44px;
  + view {
    flex: 1;
  }
}

@distance: 6px;

.gifts {
  display: flex;
  flex-wrap: wrap;
  margin: -@distance;
}

.gift {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  width: calc(33.33% - @distance * 2);
  height: 84px;
  margin: @distance;
  overflow: hidden;
  background-color: #f5f5f5;
  border: 1px solid #f5f5f5;
  border-radius: 8px;
  transition: 0.2s ease-out 0s;

  &.custom::after {
    position: absolute;
    top: -1.5px;
    right: -1.5px;
    width: 18px;
    height: 16px;
    background: url('./images/icon-check.svg') center no-repeat;
    background-size: contain;
    opacity: 0;
    transition: 0.2s ease-out 0s;
    content: '';
  }

  &:not(.custom)::before {
    display: block;
    width: 27px;
    height: 27px;
    margin-bottom: 8px;
    background: url('./images/mango.png') center no-repeat;
    background-size: contain;
    content: '';
  }

  &.selected {
    color: #fe7f40;
    background-color: #fefbf9;
    border-color: #fe7f40;
    &.custom::after {
      opacity: 1;
    }
  }

  &.loader {
    &::before {
      background: @skeleton-color;
      border-radius: 4px;
    }
  }
}

.submit {
  margin-top: 16px;
}

.tips {
  margin-top: 24px;
  color: #999;
  font-weight: 300;
  font-size: 13px;
}

.reminder {
  margin-top: 4px;
  color: #999;
  font-size: 13px;
  line-height: 18px;
}

.form {
  display: flex;
  align-items: center;
  padding-right: 16px;
}

.value {
  flex: 1;

  --cell-vertical-padding: 12px;
}

.confirm {
  --button-small-height: 28px;
  --button-small-min-width: 66px;
}
