@import '@/components/style/index.less';

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
  --rm-empty-picture-margin-top: 36px;
}

.header {
  display: flex;
  align-items: center;
  height: 44px;
  padding: 0 16px;

  .action {
    display: inline-block;
    width: 28px;
    height: 28px;
    background: center no-repeat;
    background-size: contain;
    + .action {
      margin-left: 12px;
    }
  }

  .customer {
    background-image: url('./images/icon-customer.svg');
  }

  .scan {
    background-image: url('./images/icon-scan.svg');
  }
}

.search {
  display: flex;
  flex: 1;
  align-items: center;
  height: 34px;
  margin-right: 14px;
  padding: 0 10px;
  color: #a2a3a6;
  font-size: 13px;
  background-color: #f6f6f6;
  border-radius: 17px;
  &::before {
    display: block;
    width: 18px;
    height: 18px;
    margin-right: 6px;
    background: url('./images/icon-search.svg') center no-repeat;
    background-size: contain;
    content: '';
  }
}

.main {
  flex: 1;
  overflow: hidden;
}

.content {
  padding-bottom: 24px;
}

.entrances {
  display: flex;
  justify-content: space-around;
}

.entrance {
  position: relative;
  flex: 1;
  padding: 10px 0;
  font-weight: 700;
  font-size: 15px;
  text-align: center;
  + .entrance {
    &::after {
      position: absolute;
      top: 50%;
      left: -1px;
      width: 0.5px;
      height: 40px;
      background-color: #ebebeb;
      transform: translate(2px, -50%);
      content: '';
    }
  }
  &::before {
    display: block;
    width: 70px;
    height: 70px;
    margin: 0 auto;
    margin-bottom: 2px;
    background: center no-repeat;
    background-size: contain;
    content: '';
  }

  &.my-doctor::before {
    background-image: url('./images/icon-doctor.svg');
  }

  &.archives::before {
    background-image: url('./images/icon-heart.svg');
  }

  &.article::before {
    background-image: url('./images/icon-article.svg');
  }
}

.notice {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  height: 44px;
  margin: 14px 12px 22px;
  padding: 0 14px 0 20px;
  background: #fcf7f0;
  border-radius: 22px;

  .label {
    position: relative;
    flex-shrink: 0;
    margin-right: 32px;
    color: #c19f5d;
    font-size: 12px;
    line-height: 15px;
    white-space: nowrap;
    &::before {
      position: absolute;
      top: 50%;
      right: -18px;
      width: 1px;
      height: 18px;
      background-color: rgba(#c19f5d, 0.5);
      transform: translateY(-50%);
      content: '';
    }
  }

  .value {
    display: flex;
    align-items: center;
    color: #c79e58;
    font-size: 12px;
    > view {
      display: flex;
      align-items: center;
      &::before {
        display: block;
        width: 14px;
        height: 14px;
        margin-right: 3px;
        background: url('./images/icon-doctor-plus.svg') center no-repeat;
        content: '';
      }
      + view {
        margin-left: 12px;
        &::before {
          background-image: url('./images/icon-shield.svg');
        }
      }
    }
  }
}

.articles {
  :global {
    .van-tab {
      height: 29px;
      > view {
        line-height: normal;
        transform-origin: center;
        transition: 0.2s ease-out 0s;
      }
      &--active {
        font-weight: 700;
        > view {
          transform: scale(1.4285);
        }
      }
    }
  }
}

.more {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  margin: 0 16px;
  margin-top: 16px;
  color: #666;
  font-size: 12px;
  background: #f5f5f5;
  border-radius: 4px;
  &::after {
    display: block;
    width: 12px;
    height: 12px;
    margin-left: 4px;
    background: url('./images/icon-more.svg') center no-repeat;
    content: '';
  }
}

.tabs {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  height: 52px;
  padding-top: 19px;
  background-color: #fff;
}

.tab {
  position: relative;
  display: flex;
  flex: 1;
  justify-content: center;

  &::after {
    position: absolute;
    bottom: 6px;
    left: 50%;
    width: 0;
    height: 4px;
    background: @primary-color;
    border-radius: 2px;
    transform: translate3d(-50%, 0, 0);
    transform-origin: center;
    opacity: 0;
    transition: 0.2s linear 0s;
    content: '';
  }
  > view {
    color: #999;
    font-size: 16px;
    transform-origin: center;
    transition: 0.2s linear 0s;
  }
  &.active {
    &::after {
      width: 8px;
      opacity: 1;
    }
    > view {
      color: @text-color;
      font-weight: 700;
      transform: scale(1.25);
    }
  }
}

.loader {
  .tabs {
    display: block;

    --skeleton-row-height: 20px;
    --skeleton-row-margin-top: 0;

    :global {
      .van-skeleton__content {
        display: flex;
        justify-content: space-between;
      }
    }
  }
}
