@import '~@/components/style/index.less';

.patientinfo {
  display: flex;
  align-items: center;
  padding-top: 0;
  padding-bottom: 0;
  &::before {
    display: block;
    width: 20px;
    height: 20px;
    margin-right: 8px;
    background: url('./images/icon-file.svg') center no-repeat;
    background-size: contain;
    content: '';
  }
  text {
    font-size: 13px;
    + text {
      margin-left: 8px;
    }
  }
}

.name {
  margin-right: 11px;
  font-weight: 500;
}
