@import '~@/components/style/index.less';
@import '~@/components/style/mixins.less';

.wrapper {
  position: relative;
  height: 406px;
}

.payment {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.tabs {
  position: relative;
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  height: 44px;
  background-color: #fff;
  .hairline('bottom', #ebebeb);
}

.tab {
  position: relative;
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  height: 100%;

  > view {
    position: relative;
    color: #808080;
    font-weight: 300;
    font-size: 13px;
    line-height: 20px;
    transform-origin: center;
    transition: 0.2s linear 0s;

    &::after {
      position: absolute;
      bottom: -4px;
      left: 50%;
      width: 0;
      height: 3px;
      background: @primary-color;
      border-radius: 2px;
      transform: translate3d(-50%, 0, 0);
      transform-origin: center;
      opacity: 0;
      transition: 0.2s linear 0s;
      content: '';
    }
  }
  &.active {
    > view {
      color: @text-color;
      font-weight: 500;

      &::after {
        width: 100%;
        opacity: 1;
      }
    }
  }
}

.content {
  flex: 1;
}

.container {
  box-sizing: border-box;
  height: 100%;
  padding: 14px 16px 0;
}

.message {
  display: flex;
  align-items: center;
  margin-bottom: 6px;
  color: #666;
  font-size: 11px;
  &::before {
    display: block;
    width: 12px;
    height: 12px;
    margin-right: 4px;
    background: url('./images/icon-help.svg') center no-repeat;
    background-size: contain;
    content: '';
  }
}

.item {
  position: relative;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 14px 16px;
  overflow: hidden;
  background: #f5f5f5;
  border: 1px solid #f5f5f5;
  border-radius: 8px;
  transform: 0.2s ease-out 0s;

  + .item {
    margin-top: 12px;
  }

  &::after {
    position: absolute;
    right: -1px;
    bottom: -1px;
    width: 20px;
    height: 16px;
    background: url('./images/icon-check.svg') center no-repeat;
    background-size: contain;
    transform: 0.2s ease-out 0s;
    opacity: 0;
    content: '';
    pointer-events: none;
  }
}

.title,
.price {
  font-weight: 500;
  font-size: 14px;
}

.subtitle {
  margin-top: 6px;
  color: #666;
  font-size: 11px;
}

.selected {
  background-color: #f0f8ff;
  border-color: @primary-color;
  &::after {
    opacity: 1;
  }
}

.loader {
  .tabs {
    display: block;

    --skeleton-row-height: 18px;
    --skeleton-row-margin-top: 0;

    :global {
      .van-skeleton__content {
        display: flex;
        align-items: center;
        justify-content: space-around;
        height: 44px;
      }
    }
  }
}

.loading {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 10;
  transform: translate(-50%, -50%);

  --loading-text-color: #808080;
  --loading-spinner-color: #808080;
}

.toolbar {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 9;
  padding: 0 16px 34px;

  --button-default-height: 44px;
  text {
    margin-right: 12px;
  }

  :global {
    .van-button {
      font-weight: 500;
    }
  }
}
