@import '~@/components/style/index.less';
@import '~@/components/style/mixins.less';

page {
  background-color: #f5f5f5;
}

.wrapper {
  padding: 12px 16px;
}

.card {
  padding: 0 16px;
  background-color: #fff;
  border-radius: 8px;
  + .card {
    margin-top: 12px;
  }
}

.header,
.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header {
  height: 48px;
}

.footer {
  height: 52px;

  --button-small-min-width: 78px;
  --button-small-height: 28px;
  --button-small-font-size: 13px;
}

.body {
  position: relative;
  display: flex;
  padding: 16px 0;
  .hairline('top');
  .hairline('bottom');
}

.hospitalName {
  display: flex;
  align-items: center;
  height: 20px;
  padding: 0 12px 0 10px;
  color: #fff;
  font-weight: 500;
  font-size: 11px;
  background: @linear-gradient-primary;
  border-radius: 2px 10px 10px 2px;
  transform: translateX(-18px);
}

.avatar {
  width: 64px;
  height: 64px;
  margin-right: 12px;
  background-color: @skeleton-color;
  border-radius: 4px;
}

.name {
  font-weight: 500;
}

.details {
  margin-top: 4px;
  font-size: 13px;
  text + text {
    margin-left: 8px;
  }
}

.address {
  margin-top: 4px;
  color: #b3b3b3;
  font-size: 13px;
}

.date {
  color: #b3b3b3;
  font-size: 13px;
}

.trash {
  position: relative;
  width: 16px;
  height: 16px;
  background: url('./images/icon-trash.svg') center no-repeat;
  background-size: contain;
  &::after {
    position: absolute;
    top: -5px;
    right: -5px;
    bottom: -5px;
    left: -5px;
    content: '';
  }
}

.loader {
  --skeleton-padding: 0;
  .header > view,
  .body > view,
  .footer > view {
    width: 100%;
  }
}
