@import '~@/components/style/index.less';

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}

.header {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  padding: 6px 16px;
  background-color: #f7f7f7;
}

&.special {
  padding-top: 4px;
  padding-bottom: 12px;

  --rm-popover-bg-color: #3d3d3d;
  --rm-popover-item-font-color: #fff;
  --rm-popover-item-hover-bg-color: transparent;
  --rm-popover-item-font-size: 14px;
  --rm-popover-item-padding: 15px;
  --rm-popover-item-icon-text-space: 20px;

  :global {
    .rm-popover-item {
      width: 150px;
      padding: 0;

      &.selected {
        position: relative;
        &::before {
          position: absolute;
          top: 50%;
          right: 15px;
          width: 14px;
          height: 14px;
          background: url('./images/icon-check.svg') center no-repeat;
          background-size: contain;
          transform: translateY(-50%);
          content: '';
        }
      }

      &:not(:last-child) {
        > .rm-popover-item-wrapper::after {
          left: 52px;
          background-color: rgba(255, 255, 255, 0.3);
        }
      }
    }

    .rm-popover-item-wrapper {
      padding-right: 0;
    }

    .rm-popover-arrow {
      width: 10px !important;
      height: 5px !important;
      background: url('./images/icon-arrow.svg');
      transform: translateY(-5px) rotate(0) !important;
    }
  }

  .icon {
    width: 16px;
    height: 16px;
    margin-right: 16px;
    background: center no-repeat;
    background-size: contain;
  }

  .all {
    background-image: url('./images/icon-all.svg');
  }

  .article {
    background-image: url('./images/icon-article.svg');
  }
  .thesis {
    background-image: url('./images/icon-thesis.svg');
  }

  .selected {
    color: @primary-color;
  }
}

.search {
  position: relative;
  display: flex;
  flex: 1;
  align-items: center;
  box-sizing: border-box;
  height: 32px;
  color: #a2a3a6;
  font-size: 13px;
  background-color: #fff;
  border-radius: 17px;
  &::before {
    position: absolute;
    top: 50%;
    left: 10px;
    display: block;
    width: 18px;
    height: 18px;
    margin-right: 6px;
    background: url('./images/icon-search.svg') center no-repeat;
    background-size: contain;
    transform: translateY(-50%);
    content: '';
    pointer-events: none;
  }

  input {
    width: 100%;
    height: 100%;
    padding: 0 36px;
    color: #242424;
    line-height: 24px;
  }
}

.clear {
  position: absolute;
  top: 50%;
  right: 9px;
  width: 28px;
  height: 28px;
  background: url('./images/icon-clear.svg') center no-repeat;
  background-size: 14px 14px;
  transform: translateY(-50%);
  transition: 0.1s linear 0s;

  &.hidden {
    opacity: 0;
    pointer-events: none;
  }
}

.searching {
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
}

.filter {
  display: flex;
  align-items: center;
  margin-left: 16px;
  padding: 6px 0;

  &::before {
    display: block;
    width: 16px;
    height: 16px;
    margin-right: 4px;
    background: url('./images/icon-filter.svg') center no-repeat;
    background-size: contain;
    content: '';
  }

  &.active,
  &.selected {
    &::before {
      background-image: url('./images/icon-filter-active.svg');
    }
  }

  &.selected {
    color: @primary-color;
  }
}

.main {
  position: relative;
  flex: 1;
}

.tabs {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  height: 40px;
  padding-top: 8px;
  background-color: #f7f7f7;
}

.tab {
  position: relative;
  display: flex;
  flex: 1;
  justify-content: center;

  &::after {
    position: absolute;
    bottom: 6px;
    left: 50%;
    width: 0;
    height: 3px;
    background: @primary-color;
    border-radius: 2px;
    transform: translate3d(-50%, 0, 0);
    transform-origin: center;
    opacity: 0;
    transition: 0.2s linear 0s;
    content: '';
  }
  > view {
    color: #999;
    transform-origin: center;
    transition: 0.2s linear 0s;
  }
  &.active {
    &::after {
      width: 12px;
      opacity: 1;
    }
    > view {
      color: @text-color;
      font-weight: 700;
      transform: scale(1.0769);
    }
  }
}

.content {
  flex: 1;
  overflow: hidden;
}

.container {
  height: 100%;
}

.loader {
  .tabs {
    display: block;

    --skeleton-row-height: 18px;
    --skeleton-row-margin-top: 0;

    :global {
      .van-skeleton__content {
        display: flex;
        justify-content: space-between;
      }
    }
  }
}

// .article {
//   height: 156px;
//   box-sizing: border-box;
//   :global {
//     .article-item-title {
//       height: 48px;
//       display: -webkit-box;
//       -webkit-line-clamp: 2;
//       -webkit-box-orient: vertical;
//       overflow: hidden;
//     }
//   }
// }

.loadable {
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  height: 50px;
  padding-top: 12px;
  color: #999;
  font-size: 14px;

  --loading-text-color: #999;
  --loading-spinner-color: #999;
}
